.App {
  text-align: center;
}

.climbingSection:hover, .wall-route:hover {
  cursor: pointer;
}

.right {
  text-align: right;
}

.brand-name {
  font-size: 25px;
}

.select-dropdown {
  max-height: 200px;
}

.preloader-wrapper {
  display: block;
  margin: 50px auto;
}

nav i.material-icons {
  font-size: 36px;
}

[type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after, [type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
    display: none;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
padding: none;
margin: none;
cursor: pointer;
display: inline-block;
height: 40px;
line-height: 0;
font-size: 0;
transition: .28s ease;
  float: right;
}

[type="radio"]:hover ~label img {
     filter: opacity(50%);
 }

[type="radio"]:checked ~label img {
      filter: opacity(90%);
 }

label img {
    filter: opacity(20%);
}

.carabiners img {
  height: 30px;
  width: auto;
}

img.unfilled {
    filter: opacity(20%);
}

img.unfilled-absolute {
    position: absolute;
    left: 0;
    top: -16px;
    filter: opacity(20%);
}

.image-title {
  position: absolute;
    font-weight: 600;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* WebKit */
    -moz-transform: translate(-50%, -50%); /* Mozilla */
    -o-transform: translate(-50%, -50%); /* Opera */
    -ms-transform: translate(-50%, -50%); /* Internet Explorer */
    transform: translate(-50%, -50%);
  color: white;
}

.image-title2 {
  position: absolute;
    font-size: 1.8rem;
    font-weight: 600;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* WebKit */
    -moz-transform: translate(-50%, -50%); /* Mozilla */
    -o-transform: translate(-50%, -50%); /* Opera */
    -ms-transform: translate(-50%, -50%); /* Internet Explorer */
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

div.section-image-container {
  height: 300px ;
}
div.section-image-container > img {
  max-height: 300px
}

div.wall-image-container {
  position: relative;
  height: 550px;
}

div.wall-image-container > img {
  margin: 0 auto;
  max-height: 550px;
  width: auto;
}

div.climbingroute-image-container {
  position: relative;
  height: 450px;
}


div.climbingroute-image-container> img {
  margin: 0 auto;
  max-height: 450px;
  width: auto;
}

.ratings-holster {
  position: relative;
}


.carabiners-container {
  width: 75%;
}


@media only screen and (max-width: 1170px) {
  .carabiners-container {
    width: 90%;
  }
}

@media only screen and (max-width: 992px){
  div.section-image-container {
    height: 200px ;
  }
  div.section-image-container > img {
    max-height: 200px
  }
    .ratings-holster {
      height: 20px;
    }
  .carabiners {
    position: absolute;
    width: 150px;
    -webkit-transform: scale(0.5) translate(-100%, -100%); /* WebKit */
    -moz-transform: scale(0.5) translate(-100%, -100%); /* Mozilla */
    -o-transform: scale(0.5) translate(-100%, -100%); /* Opera */
    -ms-transform: scale(0.5) translate(-100%, -100%); /* Internet Explorer */
    transform: scale(0.5) translate(-100%, -100%);
  }
  .rating-wall .carabiners {
  }
  .image-title {
    font-size: 45px;
  }
  .image-title2 {
    font-size: 20px;
  }
  .card-panel {
    padding-bottom: 1%;
  }
}

@media only screen and (max-width: 680px) {
  .before-rating {
    margin-bottom: 50px;
  }
  .carabiners-container {
    position: absolute;
    -webkit-transform: translate(-15%, -100%); /* WebKit */
    -moz-transform: translate(-15%, -100%); /* Mozilla */
    -o-transform: translate(-15%, -100%); /* Opera */
    -ms-transform: translate(-15%, -100%); /* Internet Explorer */
    transform: translate(-15%, -100%);
    width: 500px;
  }
}

@media only screen and (max-width: 600px){
  nav > .container{
    width:100%;
  }
  .v-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .before-rating {
    margin-bottom: 50px;
  }
  .carabiners-container {
    -webkit-transform: scale(0.7) translate(-40%, -200%); /* WebKit */
    -moz-transform: scale(0.7) translate(-40%, -200%); /* Mozilla */
    -o-transform: scale(0.7) translate(-40%, -200%); /* Opera */
    -ms-transform: scale(0.7) translate(-40%, -200%); /* Internet Explorer */
    transform: scale(0.7) translate(-40%, -200%);
  }
}

@media only screen and (max-width: 400px){
  .waves-effect, .btn, .btn-large {
    padding: 0;
  }
  .center > .waves-effect, .btn, .btn-large {
    padding: inherit;
  }
  .before-rating {
    margin-bottom: 50px;
  }
  .image-title {
    font-size: 30px;
  }
  .image-title2 {
    font-size: 15px;
  }
  .carabiners {
    position: absolute;
    width: 150px;
    -webkit-transform: scale(0.5) translate(-100%, -100%); /* WebKit */
    -moz-transform: scale(0.5) translate(-100%, -100%); /* Mozilla */
    -o-transform: scale(0.5) translate(-100%, -100%); /* Opera */
    -ms-transform: scale(0.5) translate(-100%, -100%); /* Internet Explorer */
    transform: scale(0.5) translate(-100%, -200%);
  }
  .carabiners-container {
    -webkit-transform: scale(0.5) translate(-70%, -300%); /* WebKit */
    -moz-transform: scale(0.5) translate(-70%, -300%); /* Mozilla */
    -o-transform: scale(0.5) translate(-70%, -300%); /* Opera */
    -ms-transform: scale(0.5) translate(-70%, -300%); /* Internet Explorer */
    transform: scale(0.5) translate(-70%, -300%);
  }
}

@media only screen and (max-width: 350px) {
  li a.brand-name {
    display: none;
  }
}
